<section class="py-2">
  <div class="row">
    <div class="col-md-6 text-center">
      <h1 class="display-3 mt-3 pt-5">
        Pick your book
      </h1>
       </h1><p class="lead">choose and pay</p>

       <form action="/charge" method="POST">
        <script
          src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          <!--put here the public key from stripe -->
          data-key="pk_test_51IwV2xANzeSsGQkp1jZJcHqogw6cXTZu4O9X5VRyb1KcjXy8MVqkabQre4JdhVehnNuOvQIC676WQJnKaXu6CAG400OHnbJpLH"
          <!--amount I want to charge - 25 usd -->
          data-amount="2500"
          data-name="Web Development Ebook"
          data-description="Ebook"
          data-locale="auto">
        </script>
        </form>
    </div>
    <div class="col-md-6">
      <!-- img fluid is a bootstrap class -->
      {{!-- <img src="/img/book.png" alt="" class="img-fluid" width="300" height="300"> --}}
      
      <img src="/img/jane.png" alt="" class="img-fluid" width="300" height="300">
   
      {{!-- <img src="/img/women.png" alt="" class="img-fluid" width="300" height="300"> --}}
    </div>
  </div>
</section>